<footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 footer_col">
          <div class="footer_contact">
            <h4>
              Reach at..
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  DSC, Ashulia, Savar, Dhaka
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +88015xxxxxx
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  jahidazad4480@gmail.com
                </span>
              </a>
            </div>
          </div>
          <div class="footer_social">
            <a href="https://www.facebook.com/jahid4480?mibextid=ZbWKwL">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://x.com/Jahidul67208586?s=09">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/in/jahidul-islam-652075268?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/_jahid_azad?igsh=MW5wdGY4ZGptbGV2YQ==">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 footer_col">
          <div class="footer_detail">
            <h4>
              About
            </h4>
            <p>
              Beatae provident nobis mollitia magnam voluptatum, unde dicta facilis minima veniam corporis laudantium alias tenetur eveniet illum reprehenderit fugit a delectus officiis blanditiis ea.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 mx-auto footer_col">
          <div class="footer_link_box">
            <h4>
              Quick Links
            </h4>
            <div class="footer_links">
              <a class="active" href="{% url 'index' %}">
                Home
              </a>
              <a class="" href="{% url 'aboutus' %}">
                About
              </a>
              <a class="" href="{% url 'contactus' %}">
                Contact Us
              </a>
              <a class="" href="{% url 'donor-list' %}">
                Donor List
              </a>
             
            </div>
          </div>
        </div>
      
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> Blood Donor Management System
         
        </p>
       
      </div>  
    </div>
  </footer>